@charset "UTF-8";

img#celular { display: none; }
img#tablet { display: block; }
img#pc { display: none; }
img#tv { display: none; }
img#imprimir { display: none; }

body {
    background-image: url(imagens/back-tablet.jpg);
}